.articaltitle button{
    
    border:white;
    background-color: transparent;
}
.articaltitle:hover{
  
    color:white;
    background-color: blue;
}
.heading{
    word-break: break-all;
}
.articaltitle{
    background-color: #a161bf;
    color:black
}
       